.invisivel{
    display:none;
  }
  .visivel{
    display:inline;
  }
  .inicial {
    text-align: center;
    font-size: 100px;
    background-color: rgb(145, 255, 126);
    width: 150px;
    height: 200px;
    border: 15px solid rgb(197, 255, 182);
    padding: 10px;
    margin: 20px;
  }
  .acertou {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 253, 144);
    width: 150px;
    height: 200px;
    border: 15px solid rgb(255, 223, 82);
    padding: 10px;
    margin: 20px;
  }
  .errou {
    text-align: center;
    font-size: 100px;
    color: white;
    background-color: rgb(255, 172, 222);
    width: 150px;
    height: 200px;
    border: 15px solid rgb(255, 124, 227);
    padding: 10px;
    margin: 20px;
  }
 